body {
    background-color: #303030;
    font-family: 'Josefin Sans', sans-serif;
}
#container {
    height: auto;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #ffff;
}
.header {
    height: 80px;
    width: 980px;
    margin: 10px;
    margin-bottom: 5px;
}
#logo1 {
    height: 80px;
    width: 230px;
    font-size: 90px;
    text-align: justify;
    float: left;
    color: white;
    margin-right: 10px;
}
#logo2 {
    height: 38px;
    width: 722px;
    font-size: 33px;
    padding-top: 42px;
    margin-left: 10px;
    text-align: justify;
    float: left;
    padding-left: 8px;
}
#main {
    float: left;
    text-align: justify;
    margin: 10px;
    margin-top: 5px;
    width: 690px;
    height: 383px;
    font-size: 20px;
    background-color: #666666;
    padding: 20px;
    line-height: 150%;
}
#about-us {
    float: left;
    margin: 10px;
    width: 230px;
    height: 230px;
    background-color: #93c748;
    text-align: center;
    font-size: 30px;
    line-height: 150%;
    cursor: pointer;
}
#about-us:hover {
    background-color: #82b637;
}
#projects {
    float: left;
    margin: 10px;
    width: 230px;
    height: 230px;
    background-color: #ee5232;
    text-align: center;
    font-size: 30px;
    line-height: 150%;
    cursor: pointer;
}
#projects:hover {
    background-color: #dd4121
}
#contact {
    float: left;
    margin: 10px;
    width: 230px;
    height: 230px;
    background-color: #3095d3;
    text-align: center;
    font-size: 30px;
    line-height: 150%;
}
#contact:hover {
    background-color: #2084c2;
}
a.tilelink {
    color: #ffff;
    text-decoration: none;
}
#picture {
    float: left;
    margin: 10px;
    margin-top: 5px;
    height: 673px;
    width: 230px;
}
.linkToProjects {
    margin-right: 15px;
    margin-left: 15px;
}
.linkToProjects:hover {
    opacity: 75%;
}
.doYou {
    color: #ffff;
    font-size: 30px;
    display: flex;
	justify-content: right;
	text-decoration: none;
}
.doYou:hover {
    color: #ee5232;
    /* color: #000000; */
}
footer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color:#ffff;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 5px;
    font-size: 15px;
}