body
{
background: url("triangular.png");
font-family: 'Josefin Sans', sans-serif;
}

#container
{
    height: auto;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: #ffff;
}

#header
{
    text-align: left;
    font-size: 80px;
}

#main
{
    float:left;
    text-align: justify;
    margin: 10px;
    width: 690px;
    height: 383px;
    font-size: 20px;
    background-color: #666666;
    padding: 20px;
    line-height:150%;
}

#tile1
{
    float: left;
    margin: 10px;
    width: 230px;
    height: 230px;
    background-color: #93c748;
    text-align: center;
    font-size: 30px;
    line-height:150%;
}

#tile1:hover
{
background-color:#82b637;
}

#tile2
{
    float: left;
    margin: 10px;
    width: 230px;
    height: 230px;
    background-color: #ee5232;
    text-align: center;
    font-size: 30px;
    line-height:150%;
}

#tile2:hover
{
background-color: #dd4121
}

#tile3
{
    float: left;
    margin: 10px;
    width: 230px;
    height: 230px;
    background-color: #3095d3;
    text-align: center;
    font-size: 30px;
    line-height:150%;
}

#tile3:hover
{
background-color: #2084c2;
}

a.tilelink
{
color:#ffff;
text-decoration: none;
}

#picture
{
    float: left;
    margin: 10px;
    
}